.home {
    margin: 0 auto;
    margin-top: 12rem;
    width: 95%;
    border-radius: 1rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/home_image-2.jpg) no-repeat;
    background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/home_image-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 80vh;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 5rem;
  }
  
  .home .content {
    text-align: center;
  }
  
  .home .content span {
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    font-size: 4vw;
    display: block;
  }
  
  .home .content h3 {
    font-size: 6vw;
    color: #fff;
  }
  
  .home .content p {
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
    text-align: center;
  }
.blogs .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(42rem, 3fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(42rem, 3fr));
    gap: 1.5rem;
    }
    
    .blogs .box-container .box {
        border-radius: 1rem;
        background: #222;
        overflow: hidden;
    }
    
    .blogs .box-container .box:hover .image img {
        -webkit-transform: scale(1.1);
            transform: scale(1.1);
    }
    
    .blogs .box-container .box .image {
        height: 25rem;
        overflow: hidden;
        width: 100%;
    }
    
    .blogs .box-container .box .image img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
            object-fit: cover;
    }
    
    .blogs .box-container .box .content {
        padding: 2rem;
        height: 240px;
    }
    
    .blogs .box-container .box .content .link {
        font-size: 2rem;
        color: #fff;
    }
    
    .blogs .box-container .box .content .link:hover {
    color: #29d9d5;
    }
    
    .blogs .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
    }
    
    .blogs .box-container .box .content .icon {
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
    
    .blogs .box-container .box .content .icon a {
    font-size: 1.4rem;
    color: #aaa;
    cursor: none;
    }
    
    .blogs .box-container .box .content .icon a:hover {
    color: #29d9d5;
    }
    
    .blogs .box-container .box .content .icon a i {
    padding-right: .5rem;
    color: #29d9d5;
    }

    .box_hidden {
        display: none;
    }
    
    .btn_loadmore {
        text-align: center;
        margin-top: 4rem;
    }
    
    @media (max-width: 786px) {
        .blogs .box-container .box .content {
            padding: 2rem;
            height: 180px;
        }
    }